{#
/**
 * @file tile.html.twig
 * Default theme implementation to present Tile data.
 *
 * This template is used when viewing Tile pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tile()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('tile') }}>
  {% if elements %}
    {{- elements -}}
  {% endif %}
</div>
